<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SystemGroup.General.UniversityManagement.Common.Properties.Settings.vdi_142_main_zeroConnectionString"
            connectionString="Data Source=misvdidb17\sql2022;Initial Catalog=vdi-142-main-zero;User ID=sa;Password=M!$vdiDB111777;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>